* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
}

body {
    background-color: rgb(114, 156, 90);
}

header { 
    height: 30vh;
}

.nodecor {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.donate {
    background-color: rgb(218, 195, 166);
    text-align: center;
    padding: 0.5% 0%;
    display: flex;
}

.donate-card {
    flex-basis: 10%;
}

.donate-card-long {
    flex-basis: 79%;
}

.close-ad {
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.underline {
    text-decoration: underline;
}

.nav-section {
    display: flex;
    right: 0;
    color: white;
    padding: 1% 40px;
    border-radius: 15px;
    backdrop-filter: blur(1px);
    margin: 20px 10px;
    transition: 0.15s;
}

.nav-section:hover {
    background-color: rgb(19, 19, 26);
    transition: 0.3s;
}

.location-section {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1%;
    max-width: 100%;
    margin: 0% 0.8%;
    display: inline-flex;
}

.location-information {
    color: rgb(143, 143, 143);
    margin: 0% 5px;
    text-decoration: none;
}

.location-current {
    text-decoration: none;
    text-decoration: underline;
    color: rgb(226, 226, 226);
    margin: 0% 5px;

}

.card {
    flex-direction: row;
    flex-basis: 50%;
}

.align-right { 
    text-align: right;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
}

nav ul li {
    padding: 2% 10px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    padding: 8% 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgb(73, 73, 73);
}

.main-hero-img {
    background-color: rgb(114, 156, 90);
    height: 100vh;
}

.main-hero-video {
    position: absolute;
    background-color: rgb(27, 27, 27);
    border-radius: 15px;
}

.section-header {
    text-align: center;
}

.prebuilt-section {
    font-size: 2em;
    border-radius: 15px;
    height: 110vh;
    padding: 1%;
    background-color: rgb(27, 27, 27);
    color: rgb(226, 226, 226);
    margin: 0% 10px;
}

.inventory-section {
    margin: 0% 3%;
    text-align: right;
}

.inventory-button {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 1%;
    border: 1px solid white;
    font-size: 0.8em;
    background: linear-gradient(to left, rgba(255, 0, 0, 0) 50%, rgb(255, 255, 255) 50%) right;
    background-size: 200% 100%;
    transition: 0.3s;
}

.inventory-button:hover {
    color: black;
    transition: 0.3s;
    background-position: left;
}



.pc-section {
    height: 90vh;
    border-radius: 15px;
    display: flex;
}

.pc-card {
    flex-basis: 33%;
    max-width: 700px;
    height: 80vh;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 5px 5px black;
    margin: 3% 2%;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s;
}

.pc-card:hover {
    box-shadow: 10px 10px black;
    transition: 0.5s;
}

.pricing-section:hover {
    background-color: red;
}

.tier-decor-one {
    background-color: rgb(207, 165, 74);
}

.tier-decor-two {
    background-color: rgb(209, 88, 88);
}

.tier-decor-three {
    background-color: rgb(18, 18, 85);
}

.tier-decor {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.catch-slogan {
    font-size: 0.8em;
    text-align: left;
    margin: 1% 3%;
}

.pricing-section {
    display: inline-flex;
    background-color: rgb(68, 68, 68);
    padding: 1%;
    width: 98%;
    justify-content: space-between;
}

.pricing-text {
    font-size: 0.8em;
    margin-top: 1%;
}

.configure {
    position: relative;
    bottom: 0%;
    margin: 0% 1%;
    padding: 2% 1%;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 0.8em;
    transition: 0.3s;
    font-weight: 300;
}

.configure:hover {
    font-size: 0.85em;
}

.configure:hover + .nodecor {
    color: black;
}


.specs {
    text-align: center;
    font-size: 0.75em;
    margin: 2% 13%; 
}

.specs ul li {
    font-size: 0.8em;
    text-align: left;
    margin: 0% 10%;
}

footer {
    background-color: black;
    height: 25vh;
    margin-top: 10px;
}

