* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
}
/* rgb(114, 156, 90); */
body {
    background-color: rgb(114, 156, 90);
    overflow-x: hidden;
}

main { 
    z-index: 1;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}



.estimated-shipping-decor {
    color: rgb(192, 192, 192);
}

.donate {
    background-color: rgb(218, 195, 166);
    text-align: center;
    padding: 0.5% 0%;
    display: flex;
}

.donate-card {
    flex-basis: 10%;
}

.donate-card-long {
    flex-basis: 79%;
}

.close-ad {
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.underline {
    text-decoration: underline;
}

.nav-section {
    z-index: 4;
    position: relative;
    display: flex;
    right: 0;
    color: white;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    transition: 0.15s;
    justify-content: space-between;
}

.nav-section:hover {
    background-color: rgb(19, 19, 26);
    transition: 0.3s;
}

.card {
    flex-direction: row;
    flex-basis: 50%;
}

.align-right { 
    text-align: right;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
}

nav ul li {
    padding: 2% 10px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    padding: 8% 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgb(73, 73, 73);
}

.current-page-anchor {
    background-color: rgb(114, 156, 90);
}

.main-hero-img {
    background-color: rgb(114, 156, 90);
    height: 40vh;
}

.main-hero-video {
    position: fixed;
    width: 100%;
    height: 120vh;
    background-color: rgb(27, 27, 27);
    object-fit: cover;
    filter:brightness(0.5)
}

.section-header {
    text-align: center;
}

.company-container {
    position: relative;
}

.company-description-header {
    color: rgb(129, 206, 74);
    font-family: "Anton", sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.5s;
}

.company-description-header:hover {
    color: rgb(255, 255, 255);
    font-family: "Anton", sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.company-container p {
    color: white;
    font-size: 1.1em;
    margin-top: 2%;
}

.questionaire {
    text-decoration: underline;
    color: rgb(129, 206, 74);
}

.product-details-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 73, 73);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: auto;    
}

.prebuilt-section {
    position: relative;
    font-size: 2em;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 1%;
    background-color: rgb(88, 88, 88);
    color: rgb(226, 226, 226);
}

.inventory-section {
    position: relative;
    margin: 5% 3%;
    text-align: right;
}

.inventory-button {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 1%;
    border: 1px solid white;
    font-size: 0.8em;
    background: linear-gradient(to left, rgba(255, 0, 0, 0) 50%, rgb(255, 255, 255) 50%) right;
    background-size: 200% 100%;
    margin-top: 10%;
    transition: 0.3s;
}

.inventory-button:hover {
    color: black;
    transition: 0.3s;
    background-position: left;
}

@media screen and (min-width: 200px) {
    .company-container {
        margin: 0% 10% 10% 5%;
    }
    .nav-section {
        flex-direction: column;
        text-align: center;
        margin: 1% 0%;
        padding: 0%;

    }
    .catch-slogan {
        font-size: 0.8em;
    }
    .specs {
        font-size: 0.8em;
    }
    .pricing-section {
        flex-direction: column;
    }
    .starting-price-disclaimer {
        margin: 2% 5%;
        font-size: 0.6em;
        text-align: center;
    }
    .configure {
        font-size: 0.9em;
        width: 80%;
        margin: 1.5% 5%;
    }
    .pricing-text {
        font-size: 0.9em;
    }
    .pc-section {
        flex-direction: column;
        width: 97%;
        margin: 0%;
    }
    .timeframe {
        background-color: rgb(114, 156, 90);
        border-radius: 15px;
        font-size: 0.6em;
        text-align: left;
        margin: 3% 5%;
        padding: 3% 2%;
    }
}

@media screen and (min-width: 880px) {
    .nav-section {
        flex-direction: row;
        margin: 20px 10px;
        padding: 1% 40px;
    }
    .card {
        text-align: start;
    }
    nav {
        text-align: end;
    }

}

@media screen and (min-width: 950px) {
    .company-container {
        margin: 0% 35% 10% 20%;
    }
    .catch-slogan {
        font-size: 2vw;
    }
    .specs {
        font-size: 1.5vw;
    }
    .pricing-section {
        flex-direction: row;
    }
    .configure {
        font-size: 1.6vw;
        width: 15%;
        margin: 6% 1%;
    }
    .pricing-text {
        font-size: 2vw;
    }
    .starting-price-disclaimer {
        font-size: 1.1vw;
        text-align: left;
    }
    .pc-card {
        flex-basis: 33%;
    }
    .pc-section {
        display: flex;
        flex-direction: row;
        width: 98%;
        margin: 0%;
    }
    .timeframe {
        background-color: rgb(114, 156, 90);
        border-radius: 15px;
        font-size: 1.5vw;
        text-align: left;
        margin: 3% 5%;
        padding: 3% 2%;
    }
    .price-info {
        flex-direction: column;
    }
    .picture-area {
        margin: 0% 15%;
    }
}


.pc-card {
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 5px 5px black;
    margin: 3% 2% 0% 2%;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s;
}

.pc-card:hover {
    box-shadow: 10px 10px black;
    transition: 0.5s;
}

.tier-decor-one {
    background-color: rgb(207, 165, 74);
}

.tier-decor-two {
    background-color: rgb(209, 88, 88);
}

.tier-decor-three {
    background-color: rgb(18, 18, 85);
}

.tier-decor {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.catch-slogan {
    position: relative;
    text-align: left;
    margin: 1% 3%;
}

.picture-area {
    position: relative;
    background-color: rgba(128, 128, 128, 0.357);
    height: 200px;
    width: auto;
    border-radius: 15px;
}

.pricing-section {
    display: flex;
    padding: 1%;
    width: 98%;
    justify-content: space-evenly;
}

.price-info {
    display: flex;
}

.starting-price-disclaimer {
    color: rgb(107, 161, 241);
}

.pricing-text {
    margin-top: 1%;
    font-family: 'Anton', sans-serif;
    text-decoration: underline;
}

.configure {
    position: relative;    
    padding: 2% 5%;
    border-radius: 4px;
    background-color: rgb(61, 171, 244);
    transition: 0.3s;
    font-weight: 400;
    text-decoration: none;
    /*background: linear-gradient(to left, rgba(255, 0, 0, 0) 50%, rgb(255, 255, 255) 50%) right;
    background-size: 200% 100%;*/
    color: rgb(255, 255, 255);
    transition: 0.1s;
}

.configure:hover {
    /*background-position: left;*/
    background-color: rgb(11, 147, 237);
    box-shadow: 0px 0px 1px black;
    transition: 0.1s;
}

.specs {
    text-align: center;
    margin: 2% 2%; 
}

.specs ul li {
    font-size: 0.7em;
    text-align: left;
    margin: 1% 4%;
    list-style-type: none;
}

.models-details {
    position: relative;
    background-color: rgb(54, 32, 12);
    margin: 1% 0%;
    width: 100%;
    display: flex;
    gap: 2%;
    padding-left: 2%;

}

.cubes {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 15px;
    height: 90%;
    margin: 2% 0%;
    gap: 3%;
}

.cubes h2 {
    font-family: "Anton", sans-serif;
    font-size: 2em;
}

.cubes h3 {
    font-family: "Anton", sans-serif;
    font-size: 1.5em;
    margin: 0% 1%;
}

.cube-text-section {
    margin: 1% 1%;
}

.cube-main-text-description {
    font-size: 1.6vw;
}

.cube-text-description {
    font-size: 1.4vw;
}

.cubes-highlight {
    background-color: rgba(117, 117, 117, 0.637);
}

.cube {
    background-color: rgba(117, 117, 117, 0.547);
    min-height: 20%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.cube-header {
    color: rgb(129, 206, 74);
    letter-spacing: 0.05em;
}

.cube-metrics {
    font-size: 1.8em;
    font-family: "Quicksand", "Verdana", "sans-serif";
    font-weight: 100;
}

.cube-section-text {
    padding: 1%;
    background-color: rgb(92, 91, 91);
    color: rgb(221, 221, 221);
    border-radius: 4px;
    margin: 0% 25%;
    font-size: 0.9em;
}

.electric-color {
    font-family: "Quicksand", "Verdana";
    color: rgb(129, 206, 74);
    font-size: 1.5em;
}

.stats {
    margin: 10px 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    width: 50%;
}


.power-style {
    background-color: rgba(128, 128, 128, 0.705);
    padding: 2%;
    border-radius: 15px;
    box-shadow: 1px 1px 2px black;
}

.pricing-style {
    background-color: grey;
    padding: 2%;
    border-radius: 15px;
    margin: 0% 20%;
    box-shadow: 1px 1px 2px black;
    width: 60%;
    text-align: center;
}

.pricing-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 1% 0%;
}

.affirm-logo {
    color: rgb(124, 124, 236);
}

.affirm-qualification-popup{
    color: rgb(129, 206, 74);
    text-decoration: underline;
}

.stats-machines {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}



.stats-button {
    background-color: grey;
    border: 1px solid rgb(141, 141, 141);
    padding: 8% 8%;
    margin: 0% 6%;
    border-radius: 5px;
    font-size: 1.2em;
    transition: 0.3s;
    padding-left: 30%;
}

.stats-button:hover {
    transition: 0.3s;
    border: 1px solid rgb(129, 206, 74);
    color: rgb(129, 206, 74);
    padding-left: 10%;
}

.stats-button h1 {
    letter-spacing: 0.2vw;
    display: flex;
}

.is-highlighted {
    background-color: rgb(129, 206, 74);
}

.is-selected {
    transition: 0.3s;
    border: 1px solid rgb(129, 206, 74);
    color: rgb(129, 206, 74);
    padding-left: 10%;
}

.fade-in {
    animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        filter: blur(10px);

    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}


.stats-arrow {
    font-family: Calibri, sans-serif;
    padding-right: 5%;
}

.troubleshooting-section {
    position: relative;
    width: 100%;
    background-color: brown;
    padding: 1%;
}

.troubleshooting-intro {
    background-color: black;
    color: white;
    border-radius: 15px;
    margin: 1% 30%;
    padding: 1%;
    text-align: center;
}

.troubleshooting-hook {
    background-color: rgb(225, 103, 103);
    border-radius: 15px;
    font-size: 2.5vw;
    margin: 0% 25%;
    padding: 1%;
}

.issues-section {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 1% 2%;
    margin: 0% 5%;
}

.comptia-area {
    display: flex;
    flex-direction: row;
}

.comptia-image {
    margin: 2% 0%;
}

.comptia-pic {
    height: 210px;
    width: 210px;
    border-radius: 10px;
    object-fit: cover;
    margin: auto;
}

.comptia-section {
    padding: 1%;
    margin: 1% 0% 0% 2%;
}

.comptia-section h1 {
    font-family: "Anton";
    letter-spacing: 0.01em;
    font-size: 2.5cap;
}

.comptia-section p {
    margin: 2% 0%;
    font-size: 2cap;
}

.comptia-button {
    background-color: rgb(255, 139, 139);
    border-radius: 100px;
    padding: 1% 0%;
    width: 30vh;
    text-align: center;
    border: 2px solid rgb(255, 139, 139);
    transition: 0.2s;
}

.comptia-button:hover {
    border: 2px solid black;
    background-color: rgb(247, 101, 101);
    transition: 0.5s;
}

.comptia-button a {
    text-decoration: none;
    color: black;
    text-wrap: nowrap;
    font-size: 2cap;
}

.repair-section {
    margin: 2% 0%;
    background-color: rgba(0, 0, 0, 0.123);
    padding: 2%;
    border-radius: 15px;
}

.repair-intro {
    margin: 2% 0%;
}

.repair-intro h1 {
    font-family: "Anton";
    font-size: 2em;
    width: 80%;
}

.repair-intro p {
    margin: 0.5% 0%;
    font-size: 1.5em;
}

.troubleshooting-price {
    display: flex;
    
}

.check-in-section {
    background-color: rgba(168, 168, 168, 0);
    border-radius: 15px;
    color: white;
    margin-right: 3%;
}

.troubleshooting-header {
    font-family: "Anton";
    color: black;
    letter-spacing: 0.01cap;
}

.troubleshooting-area {
    color: white;
    margin-right: 4%;
}

.troubleshooting-fee-section {
    background-color: rgb(247, 101, 101);
    color: black;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
    font-size: 1.4em;
}

.search-nav {
    width: 100%;
}

.search-nav input[type=issues] {
    padding: 12px;
    font-size: 1.5em;
    width: 80%;    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-nav table {
    width: 93%;
    text-align: left;
    margin: 1% 0%;
}


.search-nav th {
    padding: 1%;
    font-family: Courier, monospace;
    font-size: 1em;
}

.search-nav td {
    padding: 1%;
    font-size: 0.9em
}

.troubleshooting-purchase-button {
    background-color: rgb(255, 139, 139); 
    border: 2px solid rgb(255, 139, 139);   
    border-radius: 30px;
    padding: 1%;
    text-align: center;
    font-size: 1.5em;
    transition: 0.3s; 
    cursor: pointer;
}

.troubleshooting-purchase-button:hover {
    border: 2px solid rgb(0, 0, 0); 
    background-color: rgb(247, 101, 101);
    transition: 0.5s; 
}

.troubleshooting-signup-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(221, 221, 221);
    height: 0vh;
    z-index: 5;
    transition: 0.3s;
}

.troubleshooting-signup-section-expanded {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(221, 221, 221);
    height: 95vh;
    z-index: 5;
    transition: 0.5s;
    overflow-y: auto;
}

.cancel-troubleshooting {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.178);
    color: rgb(0, 0, 0);
    font-size: 1em;
    height: 5px;
    border-radius: 100px;
    font-family: "Anton";
    margin: 1% 19%;
    text-align: center;
    transition: 0.3s;

}

.cancel-troubleshooting:hover {
    background-color: rgb(63, 63, 63);
    color: white;
    border-radius: 100px;
    font-family: "Anton";
    transition: 0.3s;
}

.sign-up-section {
    border-radius: 15px;
    width: 100%;
}

.terms-changes {
    font-style: italic;
    color: rgb(148, 148, 148);
    font-weight: 500;
    
}

.sign-up-section p {
    margin: 1% 0%;
}


.sign-up-header h3 {
    color: rgb(52, 186, 248);
}

.sign-up-header h1 {
    text-align: center;
    margin: 1% 0%;
}

.consent-checkbox {
    display: flex;
    cursor: pointer;
    padding: 1%;
}

.indent {
    width: 90%;
    margin: 0% 10%;
}

.consent-checkbox p {
    margin-left: 5%;
}

.consent-submit-button {
    background-color: rgb(52, 186, 248);
    border: 2px solid rgb(52, 186, 248);
    color: black;
    border-radius: 40px;
    padding: 1% 2%;
    font-size: 1.2em;
    width: 10vh;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    z-index: 6;
}

.consent-submit-button:hover {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(46, 164, 219);
    transition: 0.3s;
}

/* Cookies Section */

/* Adjust Media Query Based on size of Screen Width */

@media screen and (min-width: 200px) {
    .cookies-section {
        margin: 0% 2% 0% 2%;
        padding: 2% 2% 5% 2%;
        flex-direction: column; 
    }
    .cookies-manage {
        margin: 450px 3%;
        width: 90%;
    }
    .cookies-description {
        width: 100%;
    }
    .cookies-buttons {
        flex-direction: column;
        gap: 15px;
    }
    .cookie-button {
        padding: 20px 10px;
    }
    .models-details {
        flex-direction: column;
    }
    .comptia-pic {
        display: none;
    }
    .picture-area {
        margin: 0% 15%;
    }
    .price-info {
        gap: 5%;
    }
    .price-info {
        margin-left: 6%;
        gap: 5%;
    }
    .troubleshooting-price {
        flex-direction: column;
    }
    .troubleshooting-purchase-button {
        margin: 0% 2%;
        width: 94%;
    }
    .check-in-section {
        width: 95%;
    }
    .repair-intro {
        width: 95%;
    }
    .sign-up-header {
        margin: 1% 5%;
        padding: 0% 0% 8% 0%;
    }
    .cancel-troubleshooting {
        margin: 1% 3%;
        width: 85%;
    }
}

@media screen and (min-width: 750px) {
    .cookies-section {
        margin: 0% 4% 0% 5%;
        padding: 2%;
        flex-direction: row;
        gap: 5px;
    }
    .cookies-manage {
        margin: 300px 9%;
        width: 80%;
    }
    .lower-cookies {
        width: 100%;
    }
    .cookies-description {
        width: 90%;
        margin-right: auto;
    }
    .cookie-button {
        border-radius: 5px;
        padding: 3% 2%;
    }
    .models-details {
        flex-direction: column;
    }
    .cubes {
        width: 95%;
    }
    .comptia-pic {
        display: flex;
        margin-left: 7%;
    }
    .price-info {
        margin-left: 6%;
        gap: 20%;
    }
    .troubleshooting-price {
        flex-direction: row;
    }
    .troubleshooting-purchase-button {
        margin: 0% 2%;
        width: 94%;
    }
    .repair-intro {
        width: 98%;
    }
    .check-in-section {
        width: 30%;
    }
    .troubleshooting-area {
        width: 30%;
    }
    .sign-up-header {
        margin: 1% 20%;
        width: 70%;
        padding: 0% 0% 4% 0%;
    }
    .cancel-troubleshooting {
        margin: 1% 19%;
        width: 70%;
    }
    
}

@media screen and (min-width: 900px) {
    .cookies-buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .troubleshooting-purchase-button {
        margin: 0% 2%;
        width: 94%;
    }
}

@media screen and (min-width: 1140px) {

    .cookies-section {
        margin: 0% 12% 0% 12%;
        padding: 2%;
        flex-direction: row;
    }
    .cookies-manage {
        margin: 300px 15%;
        width: 68%;
    }
    .cookies-buttons {
        text-align: end;
        flex-direction: row;
    }
    .models-details {
        flex-direction: row;
    }
    .cubes {
        width: 47%;
    }
    .troubleshooting-purchase-button {
        width: 20%;
        margin-left: 75%;
    }
}

.cookie-button {
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
}

.cookies-section {
    position: fixed;
    bottom: 0;
    z-index: 5;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
}

.cookies-description p {
    margin: 2% 0%;
    font-size: 0.9em;
}

.cookies-buttons {
    display: flex;
    text-wrap: none;
    margin-top: 13px;
}



.cookie-preferences {
    border: 1px solid grey;
}

.cookie-preferences:hover {
    color: rgb(114, 156, 90);
    border: 1px solid rgb(114, 156, 90);
}

.cookie-decline {
    border: 1px solid grey;
}

.cookie-decline:hover {
    color: rgb(114, 156, 90);
    border: 1px solid rgb(114, 156, 90);
}

.cookie-accept {
    color: white;
    background-color: rgb(114, 156, 90);
}

.cookie-accept:hover {
    background-color: rgb(76, 110, 56);
}


.cookies-manage {
    position: fixed;
    z-index: 20;
    bottom: 0;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    backdrop-filter: blur(5px);
}

.cookies-manage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
.cookies-dark-overlay { 
    background: rgba(0, 0, 0, 0.5);
    z-index: 19;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
*/

.cookies-manage-header h3 {
    margin: 5px 0px;
}

.close-cookies-button {
    background-color: black;
    color: white;
    border-radius: 100px;
    padding: 13px 19px;
    transition: 0.3s;
    cursor: pointer;
}

.close-cookies-button:hover {
    background-color: grey;
    transition: 0.3s;
}

.cookies-list {
    margin: 1% 0%;
    border-top: 1px solid black;
}

.cookies {
    padding: 15px 0%;
    border-bottom: 1px solid black;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.cookies:hover {
    background-color: rgb(123, 123, 123);
    color: white;
    transition: 0.3s;
}

.cookies-manage-accept {
    padding: 10px 2%;
    margin-top: 3%;
    background-color: rgb(114, 156, 90);
    color: white;
    border-radius: 10px;
    width: 16vh;
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}

.cookies-manage-accept:hover {
    background-color: rgb(84, 126, 59);
    transition: 0.3s;
}

.cookies-section-intro {
    display: flex;
    gap: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(167, 167, 167);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(112, 54, 15);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 100px;
}

input:checked + .slider {
    background-color: rgb(114, 156, 90);
}



input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}




/* Footer Stuff */


footer {
    position: relative;
    margin-top: 10px;
    background-color: rgb(66, 66, 66);
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.footer-group {
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-around;
}

.footer-title {
    font-size: 0.8em;
    color: grey;
}

.footer-section {
    padding: 10px 0%;
}

.align-vertical {
    display: flex;
    flex-direction: column;
    color: white;
    flex-basis: 20%;
}

.align-vertical p:hover {
    color: black;
}

.lower-footer {
    background-color: rgb(170, 170, 170);
    height: 4vh;
    position: relative;
    color: black;
    text-align: center;
    padding: 1% 0% 5%;
}

.social-media {
    padding: 1%;
    color: rgb(173, 131, 38);
    display: flex;
    justify-content: space-evenly;
}

.social-box {
    height: 30px;
    width: 30px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
}

.social-media p {
    margin: 1% 2%;
}

.social-img {
    margin: 15% 15%;
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.copyright {
    font-size: 0.8em;
}