/*
Green
background-color: rgb(114, 156, 90);   

*/

.tier-section {
    background-color: rgb(27, 27, 27);
    border-radius: 15px;
    height: 150vh;
    margin: 0% 1%;
    display: flex;
}

.tier-left-section { 
    flex-direction: column;
}

.specs-option {
    background-color: rgba(65, 65, 65, 0.288);
    height: 140vh;
    width: 100%;
    margin: 1%;
    border-radius: 15px;
}

.pc-hero-img {
    background-color: rgb(128, 127, 127);
    margin: 3% 1% 0% 4%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50vh;
    text-align: center;
    font-size: 5em;
    object-fit: cover;
}

.pc-price {
    background-color: rgb(114, 156, 90);   
    height: 5.5vh;
    margin: 0% 1% 0% 4%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-size: 2em;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid white;
}

td {
    font-size: 1.5em;
    color: white;
    border-bottom: 1px solid white;
    width: 435px;
    text-align: left;
    padding: 1% 0%;
    text-wrap: balance;

}

.dimensions {
    font-size: 0.6em;
    font-style: oblique;
}

.dimensions ul {
    list-style-type: none;
}

.parts {
    text-align: right;
}

.ryzen-color {
    color: rgb(250, 153, 115);
    text-decoration: none;
}

.nvidia-color {
    color: rgb(115, 250, 151);
    text-decoration: none;
}

.specs-table {
    margin: 1% 2% 0% 4%;
}

.disclaimer {
    color: rgb(122, 122, 247);
    font-size: 1.1em;
}

.warning {
    color: red;
    font-size: 0.6em;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.checkbox-tiers {
    cursor: pointer;
    box-shadow: inset 0 0 0 1px;
    height: 25px;
    width: 25px;
    margin-right: 1%;
    margin-top: 0.4%;
}

.checkbox-container {
    display: flex;
    color: white;
    font-size: 0.8em;
    padding: 0.5% 1%;
    border-radius: 15px;
    user-select: none;
}

.checkbox-container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: rgba(66, 66, 66, 0.815);
    border-radius: 5px;
    transition: 0.3s;
    
}

.checkbox-container:hover input ~ .checkmark {
    background-color: rgb(167, 167, 167);
}

.checkbox-container:hover {
    background-color: rgb(54, 54, 54);
}

.checkbox-container input:checked ~ .checkmark {
    background-color: rgb(114, 156, 90);   
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 1px 1px black;    
}

.add-on-container {
    margin: 2% 8% 0% 8%;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 2%;
    border: 2px solid rgb(114, 156, 90);
    border-radius: 8px;
}

.addon-main-text {
    margin: 1% 0%;
    font-size: 4em;
    color: white;
    text-align: center;
    font-weight: 100;
}

.format-price {
    margin-left: auto
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 11px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid rgb(22, 22, 22);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.configuration-checklist {
    height: 12vh;
    width: 95%;
    margin-left: 2%;
    backdrop-filter: blur(5px);
    background-color: rgba(252, 252, 252, 0.219);
    border: 3px solid rgb(0, 0, 0);
    position: fixed;
    z-index: 2;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.test {
    display: flex;
}

.expanded {
    margin-left: 2%;
    height: 95vh;
    width: 96%;
}

.expand-configuration {
    margin-top: 2%;
    margin-left: 1%;
    background-color: rgb(32, 32, 32);
    color: white;
    height: 5vh;
    border-radius: 5px;
    padding: 10px 20px 0px;
    transition: 0.3s;
    cursor: pointer;
}


.expand-configuration:hover ~ .arrow-animation,
.expand-configuration:hover .arrow-animation {
    bottom: 6px;
    right: 0px;
    transition: 0.3s;
    padding: 10px 30px 0px;
}

.arrow-animation {
    position: relative;
    bottom: 10px;
    right: 13px;
    transition: 0.3s;
}


.total-price {
    margin-top: 2%;
    margin-right: auto;
    width: 40%;
    margin-left: 2%;
    background-color: rgb(109, 194, 109);
    padding: 1% 1% 0%;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid black;
}

.purchase-button {
    margin-top: 2%;
    padding: 1% 15% 0%;
    margin-right: 3%;
    background: linear-gradient(to left, rgba(255, 0, 0, 0) 50%, rgb(255, 255, 255) 50%) right;
    background-size: 200% 100%;
    height: 5vh;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    transition: 0.3s;
}

.purchase-button:hover {
    background-position: left;
    transition: 0.3s;
}

.purchase-button-two {
    margin-top: 2%;
    padding: 1% 10% 0%;
    margin-right: 3%;
    background: linear-gradient(to left, rgba(255, 0, 0, 0) 50%, rgb(255, 255, 255) 50%) right;
    background-size: 200% 100%;
    height: 5vh;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    transition: 0.3s;
}

.purchase-button-two:hover {
    background-position: left;
    transition: 0.3s;
}

.total-price-two {
    margin-top: 2.01%;
    margin-right: auto;
    margin-left: 3%;
    background-color: rgb(109, 194, 109);
    padding: 1% 13% 0%;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid black;
}

.configuration-confirmation {
    height: 90vh;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    width: 100%;
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
}

.price-breakdown {
    margin: 2% 20%;
    color: white;
}

.receipt-flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    margin-top: auto;
    margin-bottom: 1%;
}

.hidden {
    display: none;
}

.expand-fontsize {
    font-size: 1.2em;
    margin: 1% 0%;
    text-align: center;
}

